<!DOCTYPE html>
<html>
<head>
  <title>Accounts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
  <div><%= image_tag("logo.png", :id => "logo", :alt => "TradeViz") %></div>

  <%= yield %>

  <div id="bottom-links">
    <p class="link"><a class="link" href="">ABOUT</a>&nbsp&nbsp|&nbsp&nbsp<a class="link" href="">DISCLAIMER</a></p>
  </div>
</body>
</html>
